*{
    border-bottom: 0em;
/*}
#btnNo{
    color: #25D366;
    font-size: 3rem;
}
#modal{
    background-color:white;
    height: 90%;
    width: 100%;
    position: fixed;
    margin: auto;
    display: none;
    overflow: auto;
    z-index: 1;
}
#btnNo2{
    font-size: 0.75rem;
}
.verte{
    color: #25d366;
}
.vert{
    background-color:#25D366;
}*/