*{
    border-bottom: 0em;
}

/*******************************
HEADER NAV
*******************************/

.icon-hamburger{
    width: 35px;
    display: none;
}












/*******************************
MEDIA QUERIES 
*******************************/
/*SMALL*/
@media screen and (min-width:576px){

}

/*MEDIUM*/
@media screen and (min-width:768px){

}

/*LARGE*/
@media screen and (min-width:992px){
    .icon-hamburger{
        display: inline;
    }
}

/*EXTRA LARGE*/
@media screen and (min-width:1200px){

}