/********************************************************
CSS COMMUM
********************************************************/
*{
    box-sizing: border-box;
}

body{
    color: #0f0f0f;
    font-family: 'Biryani', sans-serif;
    line-height: 1.5;
    font-size: 1.20rem;
}

.bouton{
    background-color: #02C39A;
}

.mamakilge{
    color: #02C39A;
}

a{
    color: #02C39A;
}
/*******************************
HEADER NAV
*******************************/

.siteName{
    color: #02C39A;
    text-align: left;
    font-weight: 600;
}

.logo{
    width: 200px;
}

:hover.btn-nav{
    background-color: #02C39A ;
    border-radius: 5px;
}
.btn-form{
    color: white;
    background-color: #02C39A;
    border-radius: 3px;
   
}

.revenir-accueil{
    text-decoration: none;
    color: #02C39A;
}

/*******************************************************/
/********************************************************
CSS MAIN
********************************************************/


.bg-title{
    background-image: url(../img/imgbcg.jpg);
    background-position: center;
}
h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}
.imgEcole{
    width: 450px;
}
.avis{
    height: 100px;
    width: 300px;
    margin: auto;
}
.iconvsp{
    margin-right: 15px;
}

.img1{
    width: 90px;
}

.form-control{
    width: 70%;
    margin: auto;
}

.commentaire{
    resize : none; 
}

.hote-voy{
    font-weight: bold;
}

.bcg-profile{
    background-color: rgba(226, 245, 231, 0.75);
    color: black;
}

/*//////////
FOOTER 
//////////// */

.page-footer{
    border-top: 2.5px solid #02C39A;
}

footer hr{
    width: 100%;
}

footer h3{
    font-size: 1rem;
}

footer{
    font-size: 0.8rem;
    line-height: 30px;
}

.bas a, a:hover, h6:hover{
    color: #02C39A;
}

.bas p{
    display: none;
}


.copyright{
    text-decoration: none;
    color: #02C39A;

}

/*******************************************************/
/********************************************************
MEDIA QUERIES
********************************************************/

@media screen and (max-width: 768px){
    footer{
        line-height: 20px;
    }
}

/*Small*/
@media screen and (min-width: 576px){
}
/*Medium*/
@media screen and (min-width: 768px){
}